# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/

# Production
build/
dist/

# Misc
.DS_Store
*.log
*.swp
*.swo
*~

# Environment variables
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.iml

# OS
Thumbs.db
.AppleDouble
.LSOverride
